In [1]:
import numpy as np
import pandas as pd
from ast import literal_eval

In [2]:
ref = pd.read_csv('./ref_class_probs.csv')
profiles = pd.read_csv('./user_profilesv3.csv', converters={'att': literal_eval}, usecols = range(1,27))

In [3]:
def prob_generator(crime_type):
    att_dict = {}
    for index, row in ref.iterrows():
        att_dict[row['class']] = row[crime_type]

    profile_dict = {}
    for index, value in enumerate(profiles['att']):
        profile_dict[index] = value

    for item,value in profile_dict.items():
        probs = []
        for v in value:
            probs.append(att_dict[v])
        profile_dict[item] = probs
    probs_dict = {k:np.prod(v) for k,v in profile_dict.items()}
    return pd.Series(probs_dict)

In [4]:
crime_types = ['rape_sexual_assault','robbery','battery','assault'
               ,'burglary_tresspassing','motor_vehicle_theft','theft']
for crime_type in crime_types:
    profiles[crime_type] = (prob_generator(crime_type))

,Male,Female,18 - 20,21 - 24,25 - 34,35 - 49,50 - 64,65+,Hispanic,Non_Hispanic,...,Black,Other,att,rape_sexual_assault,robbery,battery,assault,burglary_tresspassing,motor_vehicle_theft,theft
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,"[Male, 21 - 24, Hispanic, $7,500 - $14,999, Ma...",3.961745e-06,0.000030,0.000009,0.000005,0.000013,0.000031,0.000009
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,"[Female, 21 - 24, Hispanic, < $7,500, Married,...",4.428632e-04,0.000129,0.000494,0.000010,0.000043,0.000102,0.000064
2,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,"[Male, 21 - 24, Hispanic, $35,000 - $49,999, D...",9.006051e-05,0.000403,0.000054,0.000138,0.000084,0.000283,0.000113
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,"[Male, 35 - 49, Hispanic, $25,000 - $34,999, W...",2.705321e-07,0.000018,0.000005,0.000007,0.000006,0.000009,0.000008
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,"[Female, 50 - 64, Non_Hispanic, $7,500 - $14,9...",8.016813e-04,0.000189,0.000402,0.000706,0.001116,0.000366,0.000396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,"[Female, 21 - 24, Non_Hispanic, $25,000 - $34,...",5.256189e-03,0.001810,0.003903,0.001497,0.001939,0.001829,0.002075
996,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,"[Male, 18 - 20, Hispanic, $7,500 - $14,999, Di...",3.186484e-06,0.000029,0.000004,0.000022,0.000003,0.000004,0.000002
997,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,"[Male, 35 - 49, Non_Hispanic, $50,000 - $74,99...",2.130277e-04,0.001283,0.000161,0.001681,0.000762,0.000971,0.001247
998,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,"[Male, 25 - 34, Non_Hispanic, $15,000 - $24,99...",9.392445e-04,0.006332,0.001277,0.006701,0.004412,0.006188,0.003280
999,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,"[Male, 50 - 64, Non_Hispanic, < $7,500, Widowe...",2.925958e-06,0.000082,0.000007,0.000025,0.000041,0.000043,0.000037

In [5]:
profiles.to_csv('./profile_probs.csv')