User Profile Recommender System

Load Packages and Read in User Profile Simulation Data

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

#df = pd.read_csv("user_profilesv2.csv")
df = pd.read_excel('profile_probs.xlsx')
df.shape
df.head(2)

(1000, 33)

   Male  Female  18 - 20  ...  BURGLARY  MOTOR VEHICLE THEFT     THEFT
0     1       0        0  ...  0.000013             0.000031  0.000009
1     0       1        0  ...  0.000043             0.000102  0.000064

[2 rows x 33 columns]

In [ ]:
df = df.iloc[:,1:]

In [ ]:
features = df.loc[:,'att']
features

0      ['Male', '21 - 24', 'Hispanic', '$7,500 - $14,...
1      ['Female', '21 - 24', 'Hispanic', '< $7,500', ...
2      ['Male', '21 - 24', 'Hispanic', '$35,000 - $49...
3      ['Male', '35 - 49', 'Hispanic', '$25,000 - $34...
4      ['Female', '50 - 64', 'Non_Hispanic', '$7,500 ...
                             ...
995    ['Female', '21 - 24', 'Non_Hispanic', '$25,000...
996    ['Male', '18 - 20', 'Hispanic', '$7,500 - $14,...
997    ['Male', '35 - 49', 'Non_Hispanic', '$50,000 -...
998    ['Male', '25 - 34', 'Non_Hispanic', '$15,000 -...
999    ['Male', '50 - 64', 'Non_Hispanic', '< $7,500'...
Name: att, Length: 1000, dtype: object

Convert Attribute column into a count vector for all User Profiles to feed into Cosine Similarity Matrix

In [ ]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df['att'])

In [ ]:
count_matrix.toarray().shape
count_matrix.toarray()

(1000, 30)

array([[0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [1, 0, 0, ..., 0, 1, 0],
       ...,
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 0, 1]])

In [ ]:
cosine_sim = cosine_similarity(count_matrix)

In [ ]:
cosine_sim.shape
cosine_sim

(1000, 1000)

array([[1.        , 0.62994079, 0.52704628, ..., 0.40201513, 0.40201513,
        0.25197632],
       [0.62994079, 1.        , 0.47809144, ..., 0.11396058, 0.34188173,
        0.14285714],
       [0.52704628, 0.47809144, 1.        , ..., 0.47673129, 0.47673129,
        0.11952286],
       ...,
       [0.40201513, 0.11396058, 0.47673129, ..., 1.        , 0.54545455,
        0.34188173],
       [0.40201513, 0.34188173, 0.47673129, ..., 0.54545455, 1.        ,
        0.22792115],
       [0.25197632, 0.14285714, 0.11952286, ..., 0.34188173, 0.22792115,
        1.        ]])

Functions to get a user's index based on attribute and get a user's attributes based on index

In [ ]:
def get_user_from_index(index):
    return df[df.index == index]["att"].values[0]
def get_index_from_user(user):
    return df[df.att == user].index.values[0]

Recommendations based on similarity

In [ ]:
USER_NUM = 223

In [ ]:
user_att = df.iloc[USER_NUM].att
user_att

"['Male', '65+', 'Non_Hispanic', '< $7,500', 'Married', 'White']"

In [ ]:
user_index = get_index_from_user(user_att)
user_index

223

Sample recommender set

In [ ]:
similar_users = list(enumerate(cosine_sim[user_index])) #accessing the row corresponding to given user to find all the similarity scores for that user and then enumerating over it
sorted_similar_users = sorted(similar_users,key=lambda x:x[1],reverse=True)[1:]
i=0
print("Top 5 similar users to "+user_att+" are:\n")
for element in sorted_similar_users:
    print(get_user_from_index(element[0]))
    i=i+1
    if i>5:
        break

Top 5 similar users to ['Male', '65+', 'Non_Hispanic', '< $7,500', 'Married', 'White'] are:

['Male', '65+', 'Non_Hispanic', '< $7,500', 'Married', 'White']
['Male', '65+', 'Non_Hispanic', '< $7,500', 'Never Married', 'White']
['Male', '65+', 'Non_Hispanic', '< $7,500', 'Married', 'Other']
['Male', '65+', 'Non_Hispanic', '< $7,500', 'Married', 'Other']
['Male', '65+', 'Hispanic', '< $7,500', 'Never Married', 'White']
['Female', '65+', 'Non_Hispanic', '< $7,500', 'Never Married', 'White']

In [ ]:
sorted_similar_users[0:5]

[(957, 1.0000000000000002),
 (552, 0.9258200997725515),
 (818, 0.8333333333333336),
 (887, 0.8333333333333336),
 (62, 0.7715167498104596)]

In [ ]:
df.loc[552,'att']

"['Male', '65+', 'Non_Hispanic', '< $7,500', 'Never Married', 'White']"

Read in zip code file

In [ ]:
zip_codes = pd.read_csv('crimes_2015_to_present_with_zipcodes_enhanced.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,11,22) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Zip code preprocessing steps

In [ ]:
zip_na_rem = zip_codes[~zip_codes['zip'].isna()].reset_index(drop = True)

In [ ]:
zip_na_rem['zip'] = zip_na_rem['zip'].astype(int)

In [ ]:
zip_na_rem

        OID_  Join_Count  TARGET_FID  ... zipCode  objectid_1    zip
0          1           1           1  ...     NaN         1.0  60609
1          2           1           2  ...     NaN         2.0  60651
2          3           1           3  ...     NaN         3.0  60618
3          4           1           4  ...     NaN         4.0  60644
4          5           1           5  ...     NaN         5.0  60620
...      ...         ...         ...  ...     ...         ...    ...
77465  79018           1       79018  ...     NaN     79018.0  60617
77466  79019           1       79019  ...     NaN     79019.0  60623
77467  79020           1       79020  ...     NaN     79020.0  60611
77468  79021           1       79021  ...     NaN     79021.0  60621
77469  79022           1       79022  ...     NaN     79022.0  60623

[77470 rows x 37 columns]

In [ ]:
zip_grouped = zip_na_rem.groupby(['zip','Primary_Type']).count().reset_index()
zip_pivot = zip_grouped.pivot_table('OID_',['zip'],'Primary_Type').reset_index().fillna(0)
zip_pivot

Primary_Type    zip  ARSON  ASSAULT  ...  STALKING  THEFT  WEAPONS VIOLATION
0             60601    0.0     29.0  ...       0.0  349.0                0.0
1             60602    0.0     40.0  ...       0.0  572.0                1.0
2             60603    1.0      5.0  ...       0.0  299.0                1.0
3             60604    0.0     22.0  ...       0.0  217.0                1.0
4             60605    0.0     45.0  ...       1.0  397.0                1.0
5             60606    0.0     20.0  ...       0.0  215.0                1.0
6             60607    1.0     58.0  ...       0.0  436.0                1.0
7             60608    0.0    144.0  ...       1.0  434.0               11.0
8             60609    2.0    190.0  ...       1.0  471.0               39.0
9             60610    1.0     60.0  ...       0.0  315.0                3.0
10            60611    0.0     29.0  ...       1.0  834.0                2.0
11            60612    1.0    188.0  ...       1.0  462.0               11.0
12            60613    1.0     31.0  ...       1.0  219.0                0.0
13            60614    0.0     35.0  ...       2.0  531.0                3.0
14            60615    0.0     90.0  ...       1.0  338.0               11.0
15            60616    0.0     93.0  ...       0.0  386.0                6.0
16            60617    3.0    268.0  ...       4.0  498.0               47.0
17            60618    1.0     70.0  ...       2.0  399.0                5.0
18            60619    0.0    263.0  ...       2.0  601.0               34.0
19            60620    2.0    304.0  ...       1.0  757.0               45.0
20            60621    0.0    205.0  ...       1.0  378.0               45.0
21            60622    1.0     66.0  ...       1.0  519.0                7.0
22            60623    4.0    220.0  ...       1.0  436.0               37.0
23            60624    2.0    218.0  ...       3.0  372.0               49.0
24            60625    1.0     79.0  ...       0.0  278.0                8.0
25            60626    1.0     60.0  ...       1.0  226.0                6.0
26            60628    4.0    304.0  ...       2.0  620.0               66.0
27            60629    2.0    162.0  ...       2.0  397.0               25.0
28            60630    0.0     39.0  ...       0.0  185.0                1.0
29            60631    0.0     15.0  ...       0.0   52.0                0.0
30            60632    3.0    102.0  ...       1.0  374.0               13.0
31            60633    0.0     16.0  ...       0.0   23.0                0.0
32            60634    0.0     83.0  ...       0.0  180.0                2.0
33            60636    2.0    207.0  ...       1.0  362.0               48.0
34            60637    2.0    206.0  ...       0.0  423.0               27.0
35            60638    2.0     33.0  ...       0.0  164.0                1.0
36            60639    3.0    127.0  ...       0.0  382.0               12.0
37            60640    0.0     90.0  ...       0.0  442.0                4.0
38            60641    2.0     83.0  ...       1.0  252.0                4.0
39            60642    1.0     31.0  ...       0.0  290.0                0.0
40            60643    0.0    139.0  ...       1.0  310.0               22.0
41            60644    6.0    235.0  ...       0.0  336.0               44.0
42            60645    1.0     23.0  ...       0.0  127.0                2.0
43            60646    0.0     21.0  ...       0.0   49.0                3.0
44            60647    1.0    105.0  ...       0.0  552.0                5.0
45            60649    1.0    172.0  ...       1.0  385.0               16.0
46            60651    1.0    219.0  ...       0.0  348.0               38.0
47            60652    1.0     55.0  ...       1.0  283.0                2.0
48            60653    1.0    119.0  ...       0.0  230.0               17.0
49            60654    0.0     20.0  ...       0.0  290.0                2.0
50            60655    0.0     10.0  ...       0.0   69.0                0.0
51            60656    0.0     20.0  ...       0.0   60.0                0.0
52            60657    0.0     25.0  ...       0.0  439.0                0.0
53            60659    0.0     42.0  ...       1.0  159.0                3.0
54            60660    0.0     34.0  ...       0.0  149.0                1.0
55            60661    0.0     12.0  ...       1.0  136.0                0.0
56            60666    0.0     11.0  ...       0.0  132.0                2.0
57            60707    1.0     19.0  ...       0.0  114.0                2.0
58            60827    0.0     51.0  ...       1.0   33.0                6.0

[59 rows x 32 columns]

In [ ]:
df.columns

Index(['Female', '18 - 20', '21 - 24', '25 - 34', '35 - 49', '50 - 64', '65+',
       'Hispanic', 'Non_Hispanic', '< $7,500', '$7,500 - $14,999',
       '$15,000 - $24,999', '$25,000 - $34,999', '$35,000 - $49,999',
       '$50,000 - $74,999', '> $75,000', 'Never Married', 'Married', 'Widowed',
       'Divorced', 'Separated', 'White', 'Black', 'Other', 'att',
       'CRIM SEXUAL ASSAULT', 'ROBBERY', 'BATTERY', 'ASSAULT', 'BURGLARY',
       'MOTOR VEHICLE THEFT', 'THEFT'],
      dtype='object')

In [ ]:
zip_pivot = zip_pivot[['zip','CRIM SEXUAL ASSAULT','ROBBERY','BATTERY','ASSAULT','BURGLARY','MOTOR VEHICLE THEFT', 'THEFT']]
zip_pivot

Primary_Type    zip  CRIM SEXUAL ASSAULT  ...  MOTOR VEHICLE THEFT  THEFT
0             60601                  0.0  ...                  6.0  349.0
1             60602                  0.0  ...                  3.0  572.0
2             60603                  0.0  ...                  3.0  299.0
3             60604                  0.0  ...                  0.0  217.0
4             60605                  2.0  ...                 21.0  397.0
5             60606                  0.0  ...                  4.0  215.0
6             60607                  3.0  ...                 28.0  436.0
7             60608                  4.0  ...                 64.0  434.0
8             60609                  4.0  ...                 78.0  471.0
9             60610                  2.0  ...                 18.0  315.0
10            60611                  1.0  ...                 22.0  834.0
11            60612                  2.0  ...                 92.0  462.0
12            60613                  1.0  ...                 19.0  219.0
13            60614                  4.0  ...                 29.0  531.0
14            60615                  0.0  ...                 47.0  338.0
15            60616                  4.0  ...                 40.0  386.0
16            60617                  9.0  ...                 57.0  498.0
17            60618                  7.0  ...                 63.0  399.0
18            60619                  7.0  ...                 97.0  601.0
19            60620                 14.0  ...                110.0  757.0
20            60621                  6.0  ...                 86.0  378.0
21            60622                  2.0  ...                 51.0  519.0
22            60623                  7.0  ...                100.0  436.0
23            60624                 10.0  ...                104.0  372.0
24            60625                  4.0  ...                 50.0  278.0
25            60626                  5.0  ...                 30.0  226.0
26            60628                  8.0  ...                 94.0  620.0
27            60629                  9.0  ...                 84.0  397.0
28            60630                  1.0  ...                 22.0  185.0
29            60631                  1.0  ...                  4.0   52.0
30            60632                  7.0  ...                 67.0  374.0
31            60633                  0.0  ...                  4.0   23.0
32            60634                  2.0  ...                 24.0  180.0
33            60636                  6.0  ...                 74.0  362.0
34            60637                  5.0  ...                 79.0  423.0
35            60638                  0.0  ...                 19.0  164.0
36            60639                  6.0  ...                 81.0  382.0
37            60640                 10.0  ...                 42.0  442.0
38            60641                  3.0  ...                 45.0  252.0
39            60642                  0.0  ...                 20.0  290.0
40            60643                  4.0  ...                 45.0  310.0
41            60644                  6.0  ...                 86.0  336.0
42            60645                  1.0  ...                 21.0  127.0
43            60646                  0.0  ...                  3.0   49.0
44            60647                  4.0  ...                 57.0  552.0
45            60649                 12.0  ...                 60.0  385.0
46            60651                  6.0  ...                101.0  348.0
47            60652                  2.0  ...                 20.0  283.0
48            60653                  4.0  ...                 46.0  230.0
49            60654                  0.0  ...                  7.0  290.0
50            60655                  0.0  ...                  3.0   69.0
51            60656                  1.0  ...                  6.0   60.0
52            60657                  5.0  ...                 41.0  439.0
53            60659                  3.0  ...                 15.0  159.0
54            60660                  1.0  ...                 13.0  149.0
55            60661                  0.0  ...                  7.0  136.0
56            60666                  0.0  ...                 14.0  132.0
57            60707                  1.0  ...                  7.0  114.0
58            60827                  1.0  ...                  5.0   33.0

[59 rows x 8 columns]

In [ ]:
'''def Fit_Dist(y,smooth = 0, tolerance = .05, plot = False):
  def Compute_RSS(y, smooth=0, distr = 'full'):
    ## If below cell errors remove hashtag from pip install distfit and re-run ##
    !pip install distfit
    from distfit import distfit
    if smooth != 0:
      dist = distfit(smooth = smooth, distr = distr)
    else:
      dist = distfit()
    dist.fit_transform(y)
    best_distr = dist.model;
    RSS = best_distr['score']
    return RSS, best_distr, dist

  #Based on the best theoretical distribution found, compute the cdf
  def DISTFIT_CDF(best_distr, y):
    name = best_distr['name']
    params = best_distr['params']
    model = best_distr['distr']
    print('locaton: ',params[-2])
    cdf = model.cdf(y, *params[:2])
    return cdf

  # Run the KS Test to see if y fits the selected distribution
  def KS_Test(best_distr, y):
    from scipy.stats import kstest as ks
    name = best_distr['name']
    params = best_distr['params']
    return ks(y, name, args = params)[1]

  #Compute the RSS and get the best distribution for y based on distfit function
  RSS, best_distr,dist = Compute_RSS(y, smooth = smooth)

  #check if the distribution and y pass the KS-test
  KS_pval = KS_Test(best_distr,y)
  # If passes, return CDF
  if (KS_pval > tolerance):
    print('smooth :', smooth)
    print('RSS ', RSS)
    print('mean: ', np.mean(y))
    print('parameters: ', best_distr['params'])
    cdf = DISTFIT_CDF(best_distr, y)

    if plot == True:
      dist.plot()
    return cdf

  #If not, smooth the dataset y twice
  elif smooth < 2:
    return Fit_Dist(y, smooth = smooth+1)
  
  #if they still fail, run the fitter() function to try out additonal distributions
  else:
    print('FITTER failed. KS_pval is: ', KS_pval, ' Additional methods need to be explored')
'''

In [ ]:
np.sort(zip_pivot.loc[:,'ASSAULT'])

array([  5.,  10.,  11.,  12.,  15.,  16.,  19.,  20.,  20.,  20.,  21.,
        22.,  23.,  25.,  29.,  29.,  31.,  31.,  33.,  34.,  35.,  39.,
        40.,  42.,  45.,  51.,  55.,  58.,  60.,  60.,  66.,  70.,  79.,
        83.,  83.,  90.,  90.,  93., 102., 105., 119., 127., 139., 144.,
       162., 172., 188., 190., 205., 206., 207., 218., 219., 220., 235.,
       263., 268., 304., 304.])

In [ ]:
## Apply Percentile Score Ranking
from scipy import stats
def zipcode_ranking(df,col):
  n = len(df)
  return [stats.percentileofscore(df.loc[:,col],df.loc[i,col])/100 for i in range(n)]

In [ ]:
ranking

[0.2627118644067796,
 0.3898305084745763,
 0.01694915254237288,
 0.20338983050847456,
 0.423728813559322,
 0.15254237288135594,
 0.4745762711864407,
 0.7457627118644068,
 0.8135593220338982,
 0.5,
 0.2627118644067796,
 0.7966101694915254,
 0.2966101694915254,
 0.3559322033898305,
 0.6186440677966102,
 0.6440677966101696,
 0.9661016949152542,
 0.5423728813559322,
 0.9491525423728814,
 0.9915254237288136,
 0.8305084745762712,
 0.5254237288135593,
 0.9152542372881356,
 0.8813559322033899,
 0.559322033898305,
 0.5,
 0.9915254237288136,
 0.7627118644067796,
 0.3728813559322034,
 0.08474576271186442,
 0.6610169491525424,
 0.10169491525423728,
 0.5847457627118644,
 0.8644067796610169,
 0.847457627118644,
 0.3220338983050848,
 0.711864406779661,
 0.6186440677966102,
 0.5847457627118644,
 0.2966101694915254,
 0.728813559322034,
 0.9322033898305085,
 0.22033898305084748,
 0.1864406779661017,
 0.6779661016949153,
 0.7796610169491526,
 0.8983050847457628,
 0.4576271186440678,
 0.6949152542372882,
 0.15254237288135594,
 0.03389830508474576,
 0.15254237288135594,
 0.23728813559322035,
 0.4067796610169491,
 0.33898305084745767,
 0.06779661016949153,
 0.05084745762711864,
 0.11864406779661017,
 0.44067796610169496]

Create zipcode ranking for each crime

In [ ]:
rank_vals = []
for col in zip_pivot.columns[1:]:
  rank = zipcode_ranking(zip_pivot, col)
  rank_vals.append(rank)

In [ ]:
len(rank_vals)

7

In [ ]:
rank_vals

[[0.1271186440677966,
  0.1271186440677966,
  0.1271186440677966,
  0.1271186440677966,
  0.4491525423728814,
  0.1271186440677966,
  0.5254237288135593,
  0.6186440677966102,
  0.6186440677966102,
  0.4491525423728814,
  0.3220338983050848,
  0.4491525423728814,
  0.3220338983050848,
  0.6186440677966102,
  0.1271186440677966,
  0.6186440677966102,
  0.9237288135593221,
  0.8559322033898304,
  0.8559322033898304,
  1.0,
  0.7796610169491526,
  0.4491525423728814,
  0.8559322033898304,
  0.9576271186440678,
  0.6186440677966102,
  0.711864406779661,
  0.8983050847457628,
  0.9237288135593221,
  0.3220338983050848,
  0.3220338983050848,
  0.8559322033898304,
  0.1271186440677966,
  0.4491525423728814,
  0.7796610169491526,
  0.711864406779661,
  0.1271186440677966,
  0.7796610169491526,
  0.9576271186440678,
  0.5254237288135593,
  0.1271186440677966,
  0.6186440677966102,
  0.7796610169491526,
  0.3220338983050848,
  0.1271186440677966,
  0.6186440677966102,
  0.9830508474576272,
  0.7796610169491526,
  0.4491525423728814,
  0.6186440677966102,
  0.1271186440677966,
  0.1271186440677966,
  0.3220338983050848,
  0.711864406779661,
  0.5254237288135593,
  0.3220338983050848,
  0.1271186440677966,
  0.1271186440677966,
  0.3220338983050848,
  0.3220338983050848],
 [0.423728813559322,
  0.3135593220338983,
  0.2542372881355932,
  0.22033898305084748,
  0.5338983050847458,
  0.11016949152542374,
  0.2711864406779661,
  0.6779661016949153,
  0.8050847457627118,
  0.3813559322033898,
  0.11016949152542374,
  0.771186440677966,
  0.3135593220338983,
  0.4745762711864407,
  0.6271186440677966,
  0.6779661016949153,
  0.8644067796610169,
  0.6101694915254238,
  0.9491525423728814,
  0.9830508474576272,
  0.847457627118644,
  0.559322033898305,
  1.0,
  0.9661016949152542,
  0.44067796610169496,
  0.4576271186440678,
  0.8305084745762712,
  0.9152542372881356,
  0.3135593220338983,
  0.07627118644067797,
  0.771186440677966,
  0.03389830508474576,
  0.5,
  0.8050847457627118,
  0.8983050847457628,
  0.3135593220338983,
  0.728813559322034,
  0.5338983050847458,
  0.5932203389830508,
  0.3559322033898305,
  0.6440677966101696,
  0.9322033898305085,
  0.576271186440678,
  0.15254237288135594,
  0.711864406779661,
  0.7457627118644068,
  0.8813559322033899,
  0.5,
  0.6779661016949153,
  0.22033898305084748,
  0.15254237288135594,
  0.07627118644067797,
  0.4067796610169491,
  0.3813559322033898,
  0.22033898305084748,
  0.05084745762711864,
  0.01694915254237288,
  0.15254237288135594,
  0.1864406779661017],
 [0.20338983050847456,
  0.23728813559322035,
  0.04237288135593221,
  0.16949152542372883,
  0.288135593220339,
  0.07627118644067797,
  0.33898305084745767,
  0.7457627118644068,
  0.7796610169491526,
  0.4745762711864407,
  0.2711864406779661,
  0.7627118644067796,
  0.3050847457627119,
  0.3559322033898305,
  0.6610169491525424,
  0.5423728813559322,
  0.8813559322033899,
  0.576271186440678,
  0.9152542372881356,
  1.0,
  0.8644067796610169,
  0.559322033898305,
  0.9661016949152542,
  0.9322033898305085,
  0.5932203389830508,
  0.5254237288135593,
  0.9491525423728814,
  0.7966101694915254,
  0.3898305084745763,
  0.07627118644067797,
  0.6949152542372882,
  0.15254237288135594,
  0.4915254237288136,
  0.847457627118644,
  0.8305084745762712,
  0.3728813559322034,
  0.728813559322034,
  0.6101694915254238,
  0.6271186440677966,
  0.2542372881355932,
  0.711864406779661,
  0.9830508474576272,
  0.4491525423728814,
  0.11016949152542374,
  0.6440677966101696,
  0.8135593220338982,
  0.8983050847457628,
  0.5084745762711864,
  0.6779661016949153,
  0.11016949152542374,
  0.22033898305084748,
  0.1864406779661017,
  0.3220338983050848,
  0.423728813559322,
  0.4491525423728814,
  0.01694915254237288,
  0.04237288135593221,
  0.13559322033898305,
  0.4067796610169491],
 [0.2627118644067796,
  0.3898305084745763,
  0.01694915254237288,
  0.20338983050847456,
  0.423728813559322,
  0.15254237288135594,
  0.4745762711864407,
  0.7457627118644068,
  0.8135593220338982,
  0.5,
  0.2627118644067796,
  0.7966101694915254,
  0.2966101694915254,
  0.3559322033898305,
  0.6186440677966102,
  0.6440677966101696,
  0.9661016949152542,
  0.5423728813559322,
  0.9491525423728814,
  0.9915254237288136,
  0.8305084745762712,
  0.5254237288135593,
  0.9152542372881356,
  0.8813559322033899,
  0.559322033898305,
  0.5,
  0.9915254237288136,
  0.7627118644067796,
  0.3728813559322034,
  0.08474576271186442,
  0.6610169491525424,
  0.10169491525423728,
  0.5847457627118644,
  0.8644067796610169,
  0.847457627118644,
  0.3220338983050848,
  0.711864406779661,
  0.6186440677966102,
  0.5847457627118644,
  0.2966101694915254,
  0.728813559322034,
  0.9322033898305085,
  0.22033898305084748,
  0.1864406779661017,
  0.6779661016949153,
  0.7796610169491526,
  0.8983050847457628,
  0.4576271186440678,
  0.6949152542372882,
  0.15254237288135594,
  0.03389830508474576,
  0.15254237288135594,
  0.23728813559322035,
  0.4067796610169491,
  0.33898305084745767,
  0.06779661016949153,
  0.05084745762711864,
  0.11864406779661017,
  0.44067796610169496],
 [0.13559322033898305,
  0.04237288135593221,
  0.04237288135593221,
  0.09322033898305085,
  0.1864406779661017,
  0.06779661016949153,
  0.423728813559322,
  0.559322033898305,
  0.8559322033898304,
  0.211864406779661,
  0.16949152542372883,
  0.6271186440677966,
  0.44067796610169496,
  0.576271186440678,
  0.5423728813559322,
  0.4067796610169491,
  0.8983050847457628,
  0.7627118644067796,
  0.9152542372881356,
  1.0,
  0.8559322033898304,
  0.6949152542372882,
  0.8135593220338982,
  0.6610169491525424,
  0.6779661016949153,
  0.4576271186440678,
  0.9491525423728814,
  0.9322033898305085,
  0.5254237288135593,
  0.211864406779661,
  0.8305084745762712,
  0.09322033898305085,
  0.711864406779661,
  0.8813559322033899,
  0.9830508474576272,
  0.4830508474576271,
  0.7796610169491526,
  0.4830508474576271,
  0.7966101694915254,
  0.3559322033898305,
  0.5932203389830508,
  0.6101694915254238,
  0.33898305084745767,
  0.3220338983050848,
  0.7457627118644068,
  0.9661016949152542,
  0.728813559322034,
  0.5084745762711864,
  0.3898305084745763,
  0.3050847457627119,
  0.15254237288135594,
  0.2796610169491525,
  0.6440677966101696,
  0.3728813559322034,
  0.2796610169491525,
  0.11864406779661017,
  0.01694915254237288,
  0.23728813559322035,
  0.2542372881355932],
 [0.17796610169491525,
  0.059322033898305086,
  0.059322033898305086,
  0.01694915254237288,
  0.3983050847457627,
  0.11864406779661017,
  0.4745762711864407,
  0.7457627118644068,
  0.7966101694915254,
  0.3050847457627119,
  0.43220338983050843,
  0.8983050847457628,
  0.3305084745762712,
  0.4915254237288136,
  0.6271186440677966,
  0.5254237288135593,
  0.6864406779661018,
  0.728813559322034,
  0.9322033898305085,
  1.0,
  0.8728813559322033,
  0.6610169491525424,
  0.9491525423728814,
  0.9830508474576272,
  0.6440677966101696,
  0.5084745762711864,
  0.9152542372881356,
  0.847457627118644,
  0.43220338983050843,
  0.11864406779661017,
  0.7627118644067796,
  0.11864406779661017,
  0.4576271186440678,
  0.7796610169491526,
  0.8135593220338982,
  0.3305084745762712,
  0.8305084745762712,
  0.559322033898305,
  0.5847457627118644,
  0.364406779661017,
  0.5847457627118644,
  0.8728813559322033,
  0.3983050847457627,
  0.059322033898305086,
  0.6864406779661018,
  0.711864406779661,
  0.9661016949152542,
  0.364406779661017,
  0.6101694915254238,
  0.22033898305084748,
  0.059322033898305086,
  0.17796610169491525,
  0.5423728813559322,
  0.288135593220339,
  0.2542372881355932,
  0.22033898305084748,
  0.2711864406779661,
  0.22033898305084748,
  0.15254237288135594],
 [0.5423728813559322,
  0.9322033898305085,
  0.44067796610169496,
  0.288135593220339,
  0.6864406779661018,
  0.2711864406779661,
  0.771186440677966,
  0.7457627118644068,
  0.847457627118644,
  0.4745762711864407,
  1.0,
  0.8305084745762712,
  0.3050847457627119,
  0.8983050847457628,
  0.5084745762711864,
  0.6610169491525424,
  0.8644067796610169,
  0.711864406779661,
  0.9491525423728814,
  0.9830508474576272,
  0.6101694915254238,
  0.8813559322033899,
  0.771186440677966,
  0.576271186440678,
  0.3728813559322034,
  0.3220338983050848,
  0.9661016949152542,
  0.6864406779661018,
  0.2542372881355932,
  0.06779661016949153,
  0.5932203389830508,
  0.01694915254237288,
  0.23728813559322035,
  0.559322033898305,
  0.728813559322034,
  0.22033898305084748,
  0.6271186440677966,
  0.8135593220338982,
  0.3559322033898305,
  0.4152542372881356,
  0.4576271186440678,
  0.4915254237288136,
  0.13559322033898305,
  0.05084745762711864,
  0.9152542372881356,
  0.6440677966101696,
  0.5254237288135593,
  0.3898305084745763,
  0.33898305084745767,
  0.4152542372881356,
  0.10169491525423728,
  0.08474576271186442,
  0.7966101694915254,
  0.20338983050847456,
  0.1864406779661017,
  0.16949152542372883,
  0.15254237288135594,
  0.11864406779661017,
  0.03389830508474576]]

In [ ]:
dist = pd.concat([zip_pivot['zip'],pd.DataFrame(rank_vals, list(zip_pivot.columns[1:])).T], axis = 1)
dist

      zip  CRIM SEXUAL ASSAULT  ...  MOTOR VEHICLE THEFT     THEFT
0   60601             0.127119  ...             0.177966  0.542373
1   60602             0.127119  ...             0.059322  0.932203
2   60603             0.127119  ...             0.059322  0.440678
3   60604             0.127119  ...             0.016949  0.288136
4   60605             0.449153  ...             0.398305  0.686441
5   60606             0.127119  ...             0.118644  0.271186
6   60607             0.525424  ...             0.474576  0.771186
7   60608             0.618644  ...             0.745763  0.745763
8   60609             0.618644  ...             0.796610  0.847458
9   60610             0.449153  ...             0.305085  0.474576
10  60611             0.322034  ...             0.432203  1.000000
11  60612             0.449153  ...             0.898305  0.830508
12  60613             0.322034  ...             0.330508  0.305085
13  60614             0.618644  ...             0.491525  0.898305
14  60615             0.127119  ...             0.627119  0.508475
15  60616             0.618644  ...             0.525424  0.661017
16  60617             0.923729  ...             0.686441  0.864407
17  60618             0.855932  ...             0.728814  0.711864
18  60619             0.855932  ...             0.932203  0.949153
19  60620             1.000000  ...             1.000000  0.983051
20  60621             0.779661  ...             0.872881  0.610169
21  60622             0.449153  ...             0.661017  0.881356
22  60623             0.855932  ...             0.949153  0.771186
23  60624             0.957627  ...             0.983051  0.576271
24  60625             0.618644  ...             0.644068  0.372881
25  60626             0.711864  ...             0.508475  0.322034
26  60628             0.898305  ...             0.915254  0.966102
27  60629             0.923729  ...             0.847458  0.686441
28  60630             0.322034  ...             0.432203  0.254237
29  60631             0.322034  ...             0.118644  0.067797
30  60632             0.855932  ...             0.762712  0.593220
31  60633             0.127119  ...             0.118644  0.016949
32  60634             0.449153  ...             0.457627  0.237288
33  60636             0.779661  ...             0.779661  0.559322
34  60637             0.711864  ...             0.813559  0.728814
35  60638             0.127119  ...             0.330508  0.220339
36  60639             0.779661  ...             0.830508  0.627119
37  60640             0.957627  ...             0.559322  0.813559
38  60641             0.525424  ...             0.584746  0.355932
39  60642             0.127119  ...             0.364407  0.415254
40  60643             0.618644  ...             0.584746  0.457627
41  60644             0.779661  ...             0.872881  0.491525
42  60645             0.322034  ...             0.398305  0.135593
43  60646             0.127119  ...             0.059322  0.050847
44  60647             0.618644  ...             0.686441  0.915254
45  60649             0.983051  ...             0.711864  0.644068
46  60651             0.779661  ...             0.966102  0.525424
47  60652             0.449153  ...             0.364407  0.389831
48  60653             0.618644  ...             0.610169  0.338983
49  60654             0.127119  ...             0.220339  0.415254
50  60655             0.127119  ...             0.059322  0.101695
51  60656             0.322034  ...             0.177966  0.084746
52  60657             0.711864  ...             0.542373  0.796610
53  60659             0.525424  ...             0.288136  0.203390
54  60660             0.322034  ...             0.254237  0.186441
55  60661             0.127119  ...             0.220339  0.169492
56  60666             0.127119  ...             0.271186  0.152542
57  60707             0.322034  ...             0.220339  0.118644
58  60827             0.322034  ...             0.152542  0.033898

[59 rows x 8 columns]

In [ ]:
df.iloc[:,-len(rank_vals):]

     CRIM SEXUAL ASSAULT   ROBBERY  ...  MOTOR VEHICLE THEFT     THEFT
0           3.961745e-06  0.000030  ...             0.000031  0.000009
1           4.428632e-04  0.000129  ...             0.000102  0.000064
2           9.006051e-05  0.000403  ...             0.000283  0.000113
3           2.705321e-07  0.000018  ...             0.000009  0.000008
4           8.016813e-04  0.000189  ...             0.000366  0.000396
..                   ...       ...  ...                  ...       ...
995         5.256189e-03  0.001810  ...             0.001829  0.002075
996         3.186484e-06  0.000029  ...             0.000004  0.000002
997         2.130277e-04  0.001283  ...             0.000971  0.001247
998         9.392445e-04  0.006332  ...             0.006188  0.003280
999         2.925958e-06  0.000082  ...             0.000043  0.000037

[1000 rows x 7 columns]

Create scores for each user and each zipcode

Scores are calculated as the victim profile probability score divided by the percentile ranking for each zip code

In [ ]:
score_dict = {}
cols = list(dist.columns[1:])
for col in cols:
  zipcodes = []
  ind = []
  score = []
  for i in range(len(df)):
    for j in range(len(dist)):
      ind.append(i)
      score.append(df.loc[i,col]/dist.loc[j,col])
      zipcodes.append(dist.loc[j,'zip'])
  score_dict.update({col+'_score': score})

In [ ]:
scores_by_zip = pd.concat([pd.DataFrame({'ind':ind,'zip':zipcodes}),pd.DataFrame(score_dict)],axis = 1)

In [ ]:
df = df.merge(scores_by_zip, how = 'left', 
         left_on = df.index, 
         right_on = scores_by_zip.ind )

In [ ]:
score_cols = df.columns[df.columns.str.contains('score')]
for col in score_cols:
  score_col_mean = np.mean(df[col])
  df[col+'_count'] = np.where(df[col]> score_col_mean,1,0)

Create count column for each crime type by zip code by user
If a crime score is greater than or equal to the mean score for that crime score we add a value of 1 otherwise 0

In [ ]:
count_cols = list(df.columns[df.columns.str.contains('count')])
df['score_count'] = df[count_cols].sum(axis = 1)
df[df['score_count']>5]

       key_0  Male  ...  THEFT_score_count  score_count
265        4     0  ...                  1            7
267        4     0  ...                  1            7
279        4     0  ...                  1            6
287        4     0  ...                  1            7
291        4     0  ...                  1            6
...      ...   ...  ...                ...          ...
58936    998     1  ...                  1            7
58937    998     1  ...                  1            7
58938    998     1  ...                  1            7
58939    998     1  ...                  1            7
58940    998     1  ...                  1            7

[3716 rows x 51 columns]

Define parameters for user ratings

In [ ]:
df['user_rating'] = list(map(lambda x:
5 if x < 2
else 4 if x < 4
else 3 if x < 5
else 2 if x < 6
else 1
,df['score_count']))

In [ ]:
def get_similar_users(user_index):
  similar_users = list(enumerate(cosine_sim[user_index])) #accessing the row corresponding to given user to find all the similarity scores for that user and then enumerating over it
  sorted_similar_users = sorted(similar_users,key=lambda x:x[1],reverse=True)[1:]
  user_att = df.iloc[user_index].att
  i=1
  print("Top 5 similar users to user "+user_att+" are:\n")
  for element in sorted_similar_users:
      print(get_user_from_index(element[0]))
      i=i+1
      if i>5:
          break
  return sorted_similar_users

In [ ]:
sorted_similar_users = get_similar_users(223)

Top 5 similar users to user ['Male', '35 - 49', 'Hispanic', '$25,000 - $34,999', 'Widowed', 'Other'] are:

['Male', '25 - 34', 'Non_Hispanic', '$25,000 - $34,999', 'Separated', 'Other']
['Male', '65+', 'Non_Hispanic', '$25,000 - $34,999', 'Widowed', 'Black']
['Male', '50 - 64', 'Hispanic', '> $75,000', 'Widowed', 'Other']
['Female', '65+', 'Hispanic', '$50,000 - $74,999', 'Married', 'White']
['Female', '21 - 24', 'Hispanic', '< $7,500', 'Married', 'White']

In [ ]:
def get_similar_user_rating(user_index,sorted_similar_users):
  most_similar = sorted_similar_users[0][0]
  similar_df = df[df.ind == most_similar][['att','zip','user_rating']]
  similar_df.insert(0,'user_index',user_index)
  for su in sorted_similar_users[1:5]:
    temp = df[df.ind == su[0]][['zip','user_rating']]
    similar_df = similar_df.merge(temp, how = 'inner', on = 'zip')
  similar_df.insert(len(similar_df.columns),'mean_rating',similar_df.iloc[:,3:].mean(axis = 1 ))

  return similar_df

In [ ]:
get_similar_user_rating(223,sorted_similar_users)

    user_index  ... mean_rating
0          223  ...         4.8
1          223  ...         4.4
2          223  ...         3.4
3          223  ...         4.2
4          223  ...         5.0
5          223  ...         4.0
6          223  ...         5.0
7          223  ...         5.0
8          223  ...         5.0
9          223  ...         5.0
10         223  ...         4.6
11         223  ...         5.0
12         223  ...         5.0
13         223  ...         5.0
14         223  ...         5.0
15         223  ...         5.0
16         223  ...         5.0
17         223  ...         5.0
18         223  ...         5.0
19         223  ...         5.0
20         223  ...         5.0
21         223  ...         5.0
22         223  ...         5.0
23         223  ...         5.0
24         223  ...         5.0
25         223  ...         5.0
26         223  ...         5.0
27         223  ...         5.0
28         223  ...         5.0
29         223  ...         4.2
30         223  ...         5.0
31         223  ...         3.0
32         223  ...         5.0
33         223  ...         5.0
34         223  ...         5.0
35         223  ...         4.8
36         223  ...         5.0
37         223  ...         5.0
38         223  ...         5.0
39         223  ...         4.8
40         223  ...         5.0
41         223  ...         5.0
42         223  ...         5.0
43         223  ...         3.6
44         223  ...         5.0
45         223  ...         5.0
46         223  ...         5.0
47         223  ...         5.0
48         223  ...         5.0
49         223  ...         4.6
50         223  ...         3.6
51         223  ...         4.4
52         223  ...         5.0
53         223  ...         5.0
54         223  ...         4.8
55         223  ...         3.8
56         223  ...         3.4
57         223  ...         4.4
58         223  ...         4.8

[59 rows x 9 columns]

Get user recommendations for 10 randomly chosen users

In [ ]:
random_ten_df = pd.DataFrame(columns = similar_df.columns)
np.random.seed(223)
random_users = np.random.randint(0,len(cosine_sim),10)
for user in random_users:
  sorted_similar_users = get_similar_users(user)
  similar_df = get_similar_user_rating(user,sorted_similar_users)
  random_ten_df = pd.concat([random_ten_df,similar_df], axis = 0)

Top 5 similar users to user ['Female', '65+', 'Hispanic', '> $75,000', 'Widowed', 'White'] are:

['Female', '65+', 'Hispanic', '> $75,000', 'Widowed', 'White']
['Male', '35 - 49', 'Non_Hispanic', '> $75,000', 'Married', 'Black']
['Male', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White']
['Female', '65+', 'Hispanic', '> $75,000', 'Widowed', 'White']
['Male', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White']
Top 5 similar users to user ['Male', '21 - 24', 'Hispanic', '$7,500 - $14,999', 'Married', 'Other'] are:

['Female', '65+', 'Hispanic', '$50,000 - $74,999', 'Married', 'White']
['Female', '65+', 'Hispanic', '$50,000 - $74,999', 'Married', 'White']
['Male', '21 - 24', 'Hispanic', '$7,500 - $14,999', 'Married', 'Other']
['Male', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White']
['Male', '65+', 'Non_Hispanic', '$25,000 - $34,999', 'Widowed', 'Black']
Top 5 similar users to user ['Female', '35 - 49', 'Non_Hispanic', '$25,000 - $34,999', 'Never Married', 'White'] are:

['Female', '21 - 24', 'Hispanic', '< $7,500', 'Married', 'White']
['Male', '35 - 49', 'Hispanic', '$25,000 - $34,999', 'Widowed', 'Other']
['Male', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White']
['Female', '65+', 'Hispanic', '> $75,000', 'Widowed', 'White']
['Male', '21 - 24', 'Hispanic', '$7,500 - $14,999', 'Married', 'Other']
Top 5 similar users to user ['Female', '21 - 24', 'Hispanic', '< $7,500', 'Married', 'White'] are:

['Female', '21 - 24', 'Hispanic', '< $7,500', 'Married', 'White']
['Male', '21 - 24', 'Hispanic', '$35,000 - $49,999', 'Divorced', 'White']
['Male', '35 - 49', 'Non_Hispanic', '> $75,000', 'Married', 'Black']
['Male', '65+', 'Non_Hispanic', '$25,000 - $34,999', 'Widowed', 'Black']
['Male', '35 - 49', 'Hispanic', '$25,000 - $34,999', 'Widowed', 'Other']
Top 5 similar users to user ['Male', '21 - 24', 'Hispanic', '$35,000 - $49,999', 'Divorced', 'White'] are:

['Male', '21 - 24', 'Hispanic', '$35,000 - $49,999', 'Divorced', 'White']
['Male', '35 - 49', 'Non_Hispanic', '> $75,000', 'Married', 'Black']
['Male', '35 - 49', 'Hispanic', '$25,000 - $34,999', 'Widowed', 'Other']
['Male', '65+', 'Non_Hispanic', '$25,000 - $34,999', 'Widowed', 'Black']
['Female', '65+', 'Hispanic', '> $75,000', 'Widowed', 'White']
Top 5 similar users to user ['Female', '50 - 64', 'Hispanic', '$7,500 - $14,999', 'Never Married', 'Other'] are:

['Male', '65+', 'Non_Hispanic', '$25,000 - $34,999', 'Widowed', 'Black']
['Male', '25 - 34', 'Non_Hispanic', '$25,000 - $34,999', 'Separated', 'Other']
['Female', '50 - 64', 'Hispanic', '$7,500 - $14,999', 'Never Married', 'Other']
['Female', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White']
['Male', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White']
Top 5 similar users to user ['Male', '21 - 24', 'Hispanic', '$35,000 - $49,999', 'Divorced', 'White'] are:

['Female', '21 - 24', 'Hispanic', '< $7,500', 'Married', 'White']
['Female', '65+', 'Hispanic', '$50,000 - $74,999', 'Married', 'White']
['Female', '21 - 24', 'Hispanic', '< $7,500', 'Married', 'White']
['Female', '21 - 24', 'Hispanic', '< $7,500', 'Married', 'White']
['Male', '21 - 24', 'Hispanic', '$35,000 - $49,999', 'Divorced', 'White']
Top 5 similar users to user ['Male', '50 - 64', 'Hispanic', '> $75,000', 'Widowed', 'Other'] are:

['Male', '18 - 20', 'Non_Hispanic', '$50,000 - $74,999', 'Married', 'White']
['Male', '35 - 49', 'Non_Hispanic', '> $75,000', 'Married', 'Black']
['Female', '50 - 64', 'Hispanic', '$7,500 - $14,999', 'Never Married', 'Other']
['Male', '65+', 'Non_Hispanic', '$25,000 - $34,999', 'Widowed', 'Black']
['Female', '50 - 64', 'Hispanic', '$7,500 - $14,999', 'Never Married', 'Other']
Top 5 similar users to user ['Female', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White'] are:

['Male', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White']
['Male', '18 - 20', 'Non_Hispanic', '$50,000 - $74,999', 'Married', 'White']
['Male', '35 - 49', 'Hispanic', '$25,000 - $34,999', 'Widowed', 'Other']
['Female', '35 - 49', 'Non_Hispanic', '$25,000 - $34,999', 'Never Married', 'White']
['Female', '65+', 'Hispanic', '$50,000 - $74,999', 'Married', 'White']
Top 5 similar users to user ['Male', '35 - 49', 'Hispanic', '$25,000 - $34,999', 'Widowed', 'Other'] are:

['Male', '35 - 49', 'Hispanic', '$25,000 - $34,999', 'Widowed', 'Other']
['Female', '50 - 64', 'Hispanic', '$7,500 - $14,999', 'Never Married', 'Other']
['Male', '25 - 34', 'Non_Hispanic', '$25,000 - $34,999', 'Separated', 'Other']
['Male', '50 - 64', 'Non_Hispanic', '$7,500 - $14,999', 'Separated', 'White']
['Female', '50 - 64', 'Hispanic', '$7,500 - $14,999', 'Never Married', 'Other']

In [ ]:
random_ten_df.reset_index(drop = True, inplace = True)
random_ten_df

    user_index  ... mean_rating
0          478  ...         2.8
1          478  ...         2.8
2          478  ...         1.8
3          478  ...         2.0
4          478  ...         3.2
..         ...  ...         ...
585        204  ...         4.8
586        204  ...         3.8
587        204  ...         3.4
588        204  ...         4.4
589        204  ...         4.8

[590 rows x 9 columns]

In [ ]:
random_ten_df.to_csv('ten_user_recommendations.csv')